body {
    background-color: rgb(251, 251, 251);
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 96px;
    font-weight: lighter;
}

h2 {
    font-size: 60px;
    font-weight: lighter;
}

h3 {
    font-size: 48px;
    font-weight: normal;
}

h4 {
    font-size: 34px;
    font-weight: normal;
}

h5 {
    font-size: 24px;
    font-weight: bold;
}

h6 {
    font-size: 20px;
    font-weight: bold;
}

p {
    text-align: justify;
}

.margin {
    margin-top: 150px;
}

.jumbotron {
    background-color: #EDE7F6;
}

.hero {
    height: 100vh;
    background-color: #EDE7F6;
}

.flex {
    display: flex;
}

.hero-left {
    width: 50%;
}

.hero-right {
    width: 50%;
}

.card {
    margin-top: 20px;
    box-shadow: 3, 4, 4, 4;
}

.card-header {
    background-color: #ffffff;
    height: 70px;
}

.card-header a {
    color: #000000;
}