@font-face {
    font-family: "Gilroy";
    src: url(../fonts/Gilroy-Light.otf) format("opentype");
    src: url(../fonts/Gilroy-Regular.otf) format("opentype");
    src: url(../fonts/Gilroy-Medium.otf) format("opentype");
    src: url(../fonts/Gilroy-Bold.ttf) format("truetype");
    src: url(../fonts/Gilroy-ExtraBold.otf) format("opentype");
}

@font-face {
    font-family: "Avenir-Next";
    src: url(../fonts/AvenirNext-Regular-08.ttf) format("truetype");
    src: url(../fonts/AvenirNext-Medium-06.ttf) format("truetype");
    src: url(../fonts/AvenirNext-Bold-01.ttf) format("truetype");    
}

body {
    background-color: rgb(251, 251, 251);
    font-family: Gilroy, sans-serif;
    font-size: 18px;
}

h1 {
    font-size: 96px;
    font-weight: lighter;
}

h2 {
    font-size: 60px;
    font-weight: lighter;
}

h3 {
    font-size: 48px;
    font-weight: normal;
}

h4 {
    font-size: 34px;
    font-weight: normal;
}

h5 {
    font-family: Gilroy-Bold;
    font-size: 32px;
    line-height: 1.3em;
    margin-bottom: 20px;
}

h6 {
    font-family: Gilroy-Medium;
    font-size: 22px;
    font-weight: bold;
    margin: 0px;
}

h7 {
    font-family: AvenirNext-Medium;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3em !important;
    margin: 0px;
}

p {
    font-family: AvenirNext-Medium;
    font-weight: 100;
    /*text-align: justify;*/
}

/*li {
    font-family: Gilroy-Bold;
    font-size: 20px;
}*/

li {
    font-family: AvenirNext-Medium;
    font-size: 17px;
    line-height: 1.9em;
}

.btn {
    background-color: #ffffff;
    height: 70px;
}

.margin {
    margin-top: 150px;
}

.jumbotron {
    background-color: #EDE7F6;
}

.flex {
    display: flex;
}

.direction {
    flex-direction: column;
}

.hero {
    height: 100vh;
    background-image: linear-gradient(to right, #ffffff 50%, #ede7f6 50%);
}

.hero2 {
    height: 40vh;
    background-image: linear-gradient(to right, #ffffff 50%, #ede7f6 50%);
}

.hero-left {
    width: 50%;
    background-color: #ffffff;
    padding-right: 100px;
}

.hero-right {
    width: 50%;
}

.card {
    margin-top: 20px;
    box-shadow: 3, 4, 4, 4;
}

.card-header {
    background-color: #ffffff;
    height: 70px;
}

.card-header a {
    color: #000000;
}

#underline1 {
    background: transparent;
    border-radius: 10px;
    height: 6px;
    width: 100px;
    box-shadow: 0 33px 0 0 #3700B3;
  }

#underline2 {
    background: transparent;
    border-radius: 10px;
    height: 6px;
    width: 90px;
    box-shadow: 0 33px 0 0 #6200EE;
  }

#underline3 {
    background: transparent;
    border-radius: 10px;
    height: 6px;
    width: 115px;
    box-shadow: 0 33px 0 0 #9965F4;
  }

#underline4 {
    background: transparent;
    border-radius: 10px;
    height: 6px;
    width: 120px;
    box-shadow: 0 33px 0 0 #B794F6;
  }

#underline5 {
    background: transparent;
    border-radius: 10px;
    height: 6px;
    width: 80px;
    box-shadow: 0 33px 0 0 #D4BFF9;
  }